.html {
    height: 100%;
}

.body {
    font-family: sans-serif;
    height: 100%;
    text-align: center;
}

/* HERO */

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
}   

.header-left {
    display: flex;
    color: #f9faf8;
    
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;

}

.page {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
    border: 0;
}

li {
    list-style: none;

}

button.page:hover {
    background-color: #3882f6;
    border-radius: 5px;
}

.header-writing {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    text-align: left;
    gap: 15px
    ;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.title {
    display: flex;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.title, .pitch {
    width: 450px;
}

.pitch {
    color: #e5e7eb;
}

.call {
    display: flex;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 10px 30px;
    width: max-content;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.sil {
    width: 250px;
}

/* IMAGES */

.photo-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;

}

.photo-boxes img {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 3px;
    border-color: #3882f6;
    border-style: solid;

}

.photo-header {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.photos {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
}

.photos p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    flex-wrap: wrap;
    width: 200px;
    font-weight: 700;
}